
conversationsOpenaiINPUTSJsonDownloaded/jsonLoutputGENERATEDbymainpyafterRUNNING_fromCMDline/hy.jsonl
conversationsOpenaiINPUTSJsonDownloaded/jsonLoutputGENERATEDbymainpyafterRUNNING_fromCMDline/hp.jsonl
conversationsOpenaiINPUTSJsonDownloaded/jsonLoutputGENERATEDbymainpyafterRUNNING_fromCMDline/cryst.jsonl
conversationsOpenaiINPUTSJsonDownloaded/hy.json
conversationsOpenaiINPUTSJsonDownloaded/hp.json
conversationsOpenaiINPUTSJsonDownloaded/cryst.json
conversationsOpenaiINPUTSJsonDownloaded/conversations.json
